@import "tailwind";
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1600px;  
    background-color: #1A0B2E;
     margin: 0 auto; 
}
body p{
    color: #d2d2d3;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
/* nav-section */

#head nav{
    max-width: 1600px;
    padding: 15px;
    border-bottom:1px solid #2d144e;
}
.logo span{
    background:linear-gradient(15deg,#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip:text ;
    color: transparent;
}
.btn{
    width: 130px;
    border-radius: 20px;
    border: none;
    padding: 9px 19px;
    background:linear-gradient(15deg,#F7E93F, #FB09B4, #9100F8);
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}
.btn img{
    background: transparent;
}
.btn:hover{
    cursor: pointer;
    background:linear-gradient(-60deg,#F7E93F, #FB09B4, #9100F8);
}
/* banner-section */
.banner{
    background-image: url(image/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
    height:100vh;
}    
.image-part{
    margin: 50px auto;
    width: 90%;
    max-width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
    top: 80px;
}

.img-2, .img-3{
    position: absolute;
    /* object-fit: contain; */
}
.img-2 p{
    width:50px;
    border-radius: 15px;
    background-color:#00ff88;
    box-shadow: 0px 2px 10px 3px #00ff883f;
    color: rgba(0, 0, 0, 0.829);
    padding: 3px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    position: relative;
    top: 50px;
    left: 255px;
}
.type-part{
    padding-top: 90px;
    max-width: 650px;
    margin: 0 auto;
}
.type p{
    font-weight: 300;
    margin: 20px;
    line-height: 25px;
}
.hero-button{
    display: flex;
    justify-content:center; 
    gap: 25px;
}
.b1{
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    background:linear-gradient(15deg,#F7E93F, #FB09B4, #9100F8);
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.b1:hover{
    cursor: pointer;
    background:linear-gradient(-60deg,#F7E93F, #FB09B4, #9100F8);
}
.b2{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5px;
    padding:5px 15px;
    border:1px solid #00ff88;
    border-radius: 20px;
    color: #00ff88; 
}
.b2:hover{
    cursor: pointer;
    background-color: #2d144e;
}
/* discription option  */
#discription{
    text-align: center;
}
.dis-text{
    padding: 0 200px;
}
.hr-1{
    margin: 20px 150px;
    color: #2d144e;
}
.history{
    padding: 80px;
}
/* feturs section  */
#layout-section{
    padding: 50px 150px;
}
#layout-section h2{
    text-align: center;
    margin: 30px auto;
}
.containar{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.box-1{
    padding: 30px;
    border-radius: 20px;
    grid-row: span 2;
}
.box-2{
    padding: 30px;
    border-radius: 20px;
    grid-column: span 2;
}
.box-3{
    padding: 30px;
    border-radius: 20px;
    grid-column: span 2;
}
.box-4{
    padding: 30px;
    border-radius: 20px;
    grid-column: span 2;
}
.box-5{
    padding: 30px;
    border-radius: 20px;
}
/* song section  */
#Featured{
    padding: 100px;
}
.episodes-containar{
    padding: 50px; 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.song-1{
    width:380px ;
    padding: 20px;
    border-radius: 20px;
    background-color: #2d144e;
}
/* challange part  */
#challange{
    padding: 20px 120px;
}
.cont-c{
    padding: 30px;
    border-radius: 20px;
}

.icons img{
    border:1px solid #4e4d4e;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
}
@media screen and (max-width:576px) {
    #head nav ul{
        display: none;
    }
    .btn{
        display: none;
    }
    .banner{
        width: 100vw;
    }
    .image-part{
        width: 70vw;
    }
    .dis-text{
    padding: 20px;
    }
    .hr-1{
    margin: 20px ;
}
.history{
    padding:8px;
}
.containar{
    display: block;
    margin: 10px auto;
}
.box-1, .box-2, .box-3, .box-4, .box-5{
    margin: 10px;
}
#layout-section{
    padding: 20px;
    margin-top: 40px;
}
.episodes-containar{
    display: block;
    padding: 0;
    /* margin: 0 auto; */
}
#Featured{
    padding:0px;
}
#Featured h2{
    padding-top: 40px;
}
.f-t{
    font-size: 2.3em;
}
.song-1{
    max-width:fit-content;
    margin: 20px;
}
#challange{
    padding: 10px;
}
.cont-c{
    flex-direction: column;
    text-align: center;
}
.icons{
    justify-content: center;
}
}